<p id="<%= dom_id(proxy) %>">
  <%= hidden_field_tag 'proxies[][id]', proxy.id %>
  <%= text_field_tag 'proxies[][url]', proxy.url, style: 'width: 50%' %>

  <% icon, locale =  proxy.alive? ? %w[icon-ok proxy_alive] : %w[icon-error proxy_dead] %>

  <% unless proxy.new_record? %>
    <span class="icon <%= icon %>" title="<%= t locale, scope: 'redmine_bots.settings.telegram' %>"></span>
    <%= link_to l(:button_delete), telegram_proxy_destroy_path(id: proxy.id), remote: true, method: :delete %>
  <% end %>
</p>
