<h2><%= t 'redmine_bots.settings.telegram.authorize_client' %></h2>
<hr>
<p><%= link_to telegram_setup_1_path do %>1. <%= t 'redmine_bots.settings.telegram.auth_step_1' %><% end %> — <strong>2. <%= t 'redmine_bots.settings.telegram.auth_step_2' %></strong></p>
<hr>

<%= form_tag telegram_setup_authorize_path, method: :post do %>
  <p>
    <label>
      <%= t 'redmine_bots.settings.telegram.phone_code' %>
    </label>
    <%= text_field_tag 'phone_code' %>
  </p>

  <input type="hidden" name="phone_number" value="<%= params[:phone_number] %>">
  <input type="hidden" name="phone_code_hash" value="<%= params[:phone_code_hash] %>">

  <input type="submit" value="<%= t 'redmine_bots.settings.telegram.authorize_button' %>">
<% end %>
